# Directories
env
__pycache__
.vscode
.DS_Store
Thumbs.db
saved_model


# Files
frontend/src/user_files/outputs/*
frontend/src/user_files/uploads/*
parcel-addresses.csv
parcels.csv
secrets.py
*.pyc
*.png

# Exceptions
!occupied.png
!vacant.png
