<!DOCTYPE HTML>
    <html lang='en'>
      <head>
        <meta charset='UTF-8'>
        <title>Vacant Lot Classifier</title>
      </head>
    <body>

      <h2>Vacant Lot Classifier</h2>

      <p>Step 1: Download the input template</p>
      <a href='/static/input_template.csv'>
        <button>
          Download
        </button>
      </a>

      <form action='/upload_file' method='POST' enctype='multipart/form-data'>
        <p>Step 2: Select your completed input file</p>
        <input type='file' name='input-file'/>
        <p>Step 3: Upload and get predictions</p>
        <input type='submit' value='Upload'/>
      </form>

    </body>
</html>
